<header class="headerbar" id="headerbar"><!-- header seaction starts -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7 col-sm-12"> 
          <!-- header-left starts --> 
          
          <!-- This menutoggle is only visible to small devices 
						<a class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></a>--> 
          
          <!-- This menutoggle is only visible to desktop devices --> 
          <a class="menutoggle navbar-toggle in" data-toggle="collapse" href="#" id="menu-toggle-2"> <span class="icon-hamburger-01"></span> </a>
          <div class="logopanel"></div>
          <!--<div class="title">PFP Investment Fund</div>-->
          <div class="clearfix"></div>
        </div>
        <!-- header-left ends -->
        
        <div class="bg-col"> <!-- header-right starts -->
          
          <div class="header-right">
            <ul class="nav nav-pills pull-right">
              <!--<li role="presentation"><a href="#"><span class="icon-user_account"></span>My account</a></li>-->
              <li role="presentation"><a href="#" class="login-txt" title="OCHA Staff - Login"><span class="log-text">OCHA Staff-Login</span> <span class="glyphicon glyphicon-log-in"></span></a></li>
            </ul>
          </div>
        </div>
        <!-- header-right end --> 
      </div>
    </div>
  <div class="clearfix"></div>
  </header>