@charset "utf-8";
/* CSS Document */

html,body,table {
	line-height: 15px;
	font-family:"Open Sans";
	/*font-size: 12px;*/
	font-size: 14px;
	color: #3c3c3c
}

input {
	font-size: 12px;
	font-family:"Open Sans"
}

body {
	font-family:"Open Sans";
	margin: 0 auto
}
a:hover, a:focus { text-decoration: none!important; }
.clear-pad { padding:0px!important}
.add-pad { padding:15px!important}
.btm-marg10 { margin-bottom:10px!important} 
.btm-marg20 { margin-bottom:20px!important} 
.no-gutter {padding-right:0;padding-left:0;}
.bg-bludark {background-color: #033367!important;}
.navbar {border-radius: 0px; }
.panel {border-radius: 0px!important;}
.panel-default {border-color: #ddd; }
/*.panel-default > .panel-heading {color: #fff; background-color: #1a6eb4;border-color: #d1d3d4; padding: 0;min-height: 45px;}*/
.panel-heading .panel-title {font-size: 14px;padding: 15px;float: left;}
.white_wrapper .panel-default {border: 0px solid #ffffff!important; }
.white_wrapper > .panel-default > .panel-heading, .white_wrapper > #myTabContent > .panel-default > .panel-heading {color: #036cb6!important; background-color: #ffffff!important;border-bottom: 2px solid #d1d3d4!important; padding: 0;min-height: 45px;}
.white_wrapper .panel-heading .panel-title {font-size: 14px;padding: 5px 15px 5px 0;float: left; font-weight:700;margin:10px 0; cursor:pointer}
.white_wrapper .panel {-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .05); box-shadow: 0 0px 0px rgba(0, 0, 0, .05);}
.white_wrapper .glyphicon{color:#026cb6; margin-left:10px}
.form-padding {padding:10px 10px 0 0}
.form-group.required .control-label:after {content:"*";color:red; }
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.dashboard-tiles li { border: 2px solid #1a6eb4; border-radius:3px;float: left;width: 22%; margin:10px 40px 10px 0; list-style:none;font-size:14px }
.dashboard-tiles a .fa{margin-right:10px;vertical-align:top}
.dashboard-tiles a {display:block;padding: 20px 15px;}
.dashboard-tiles a span {display:inline-block;width:90%;min-height:30px}
.dashboard-tiles li a:hover {background-color:#1a6eb4;color:#fff!important}
.header_bg { background:url(../images/logo.png) no-repeat; background-position:35px;background-size: contain;width:100%;min-height:70px;}
.header_bg div {margin-top:25px}
.text-italic { font-style:italic; border-left:none!important}
.text-filter { font-style:italic; color:#68bbff;font-size:12px;margin-left:10px}
.mt-6 {margin-top: 6px}
.pr-0 {padding-right:0px}
header .login-txt {color:#3372c0!important; font-size: 12px; margin-right:5px;display: inline-block;}
.login-txt span.glyphicon,.contact-dtls span.glyphicon{display:none}
.line-ht28 { line-height:28px;font-size:14px}
.form-group .line-ht28 a {color:#f2c700;margin-right:5px}
.form-group .line-ht28 span{color:#fff;margin:0 5px}
.contact-dtls {margin: 5px;float:right}
.contact-dtls li { list-style:none; float: left;color:#fff;margin: 0 5px;}
.contact-dtls a { color:#fff; text-decoration:none}
.bdcrumbs a { color:#f2c700; text-decoration:none}
/*.print-icon{padding: 19px 0px 10px 15px; border-left: 1px solid #c9c8ce; vertical-align: middle; line-height: 25px;cursor: pointer;}*/
.breadcrumb {padding: 10px 15px 0px 0px!important;list-style: none;background-color: transparent!important;}

.list-icon li{padding: 15px;border-left: 1px solid #c9c8ce;cursor: pointer;}
.list-icon li .dropdown-menu > li{padding: 0px;border-left:none}
.dropdown-menu > li > a {
    display: block;
    padding: 0px!important;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdown-menu > li > a:hover { background:#fff}
.dropdown-menu > li > div.topnav a.link-primary, .dropdown-menu > li > div.topnav a.link-secondary {padding: 5px!important;font-weight: 700!important;font-size: 14px;}
.dropdown-menu > li > div.topnav a.link-primary {color: #1a6eb4!important;}
.dropdown-menu > li > div.topnav a.link-secondary {color: #cdcdcd!important;}
.dropdown-menu > li > div.topnav a.link-primary:hover, .dropdown-menu > li > div.topnav a.link-secondary:hover { background:#f5f5f5}
.open > .dropdown-menu {display: block;left: -232px!important;width: 263px!important; }


/* ======================= */
.radio, .bscheckbox {
    position: relative;
    display: block;
    margin: 5px 0px;
    font-size: 12px;
}
.radio label, .checkbox label {
    font-weight: normal;
    cursor: pointer;
    font-size: 12px;
}
.bscheckbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
	color:#333!important;
}

.bscheckbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.bscheckbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}
.radio label {padding-left:0px}
.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.bscheckbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.bscheckbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.bscheckbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
	color: #511c74;
}

.bscheckbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
	color:#333!important;
}
.bscheckbox label {
    display: block;
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: normal;
	color: #1a1a1a;
}
.padding10 {padding:10px!important}

/*Radio box*/

input[type="radio"] + .label-text:before{
	content: "\f10c";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1.25em;
	display: inline-block;
	margin-right: 5px;
	color:#cccccc;
	font-size:18px;
}

input[type="radio"]:checked + .label-text:before{
	content: "\f192";
	color: #1a6eb4;
	animation: effect 250ms ease-in;
}

input[type="radio"]:disabled + .label-text{
	color: #aaa;
}

input[type="radio"]:disabled + .label-text:before{
	content: "\f111";
	color: #ccc;
}

.filter-dropdown {
    position: absolute!important;
    top: 0!important;
    left: 0!important;
    width: 100%!important;
    font-size: 14px!important;
    line-height: 22px!important;
    padding: 10px!important;
}
.form-group{margin: 0;}
.form-group label{color: #555; font-size: 14px; font-weight: normal; padding: 10px 0 0 0;}
label.form-check-label {color:#333333}
/* ======================= */
/* - Floating buttion Code - */
.user-panel{background-color:#ba1222; padding: 0;top:240px;right:0;position:fixed;border:1px solid #ba1222;z-index: 90;border-radius: 15px 0 0 15px; transition: 0.5s;
    white-space: normal;}
/* Safari 5+ ONLY */
::i-block-chrome, .user-panel { width:48px }
::i-block-chrome, .user-panel span { width:182px }
::i-block-chrome, .user-panel span.glyphicon { width:42px;float:left!important }
.user-panel .btn-group-sm>.btn, .btn-sm{background: none; color: #a6c7dd; padding: 15px 5px; border-radius: 0}
#user-panel .btn-sm {border-radius: 15px 0 0 15px;}
.user-panel .btn-default{color: hsla(0,0%,100%,.9); border: none}
.user-panel .btn-default:hover{background: #ba1222; color: #fff;border-radius: 15px 0 0 15px;}
.user-panel .btn-default.focus, .btn-default:focus{background: #ba1222; color: #fff;}

.flyout-other { font-size:18px;font-weight:700; margin-top:10px;-webkit-writing-mode: vertical-lr;-ms-writing-mode: tb-lr;writing-mode: vertical-lr;text-orientation: mixed;-webkit-font-feature-settings: "vkrn", "vpal";font-feature-settings: "vkrn", "vpal";transform: rotate(180deg);text-transform: uppercase;}
.sidenav { height: auto;width: 0;position: fixed;z-index: 90;top: 200px;right: -20px; background-color: #fff; overflow-x: hidden; transition: 0.5s; /*padding-top: 50px;*/ box-shadow: 0 6px 12px rgba(0,0,0,.175); white-space: nowrap;border:1px solid #bb1222;/*padding:10px*/}
.sidenav a {padding: 8px 8px 8px 24px; text-decoration: none; color: #511c74; display: block; transition: 0.3s;border-bottom: solid 1px #e8edf1;}
.sidenav a:hover {color: #253749;}
.sidenav .closebtn {position: absolute; top: 8px; right: 25px; font-size: 36px; margin-left: 50px; padding: 0}
.sidenav-content{padding-bottom: 10px;}
.sidenav-content h1{font-size: 16px; padding-left: 24px; margin: 0 0 4px 0; color: #253749;}
.sidenav-content a{font-size: 11px; color:#999; padding-top: 0; border-bottom: 1px solid #eee;}
#mySidenav h5 {background-color: #fde8e6;padding: 10px 15px;margin: 0;}
#overlay{display:none}
/*---------------------------*/
ul.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
	margin-bottom:0px!important;
}

/* ======== Tables header classes starts here ====== */
.table-responsive table th{ background-color:#e6e7e8; vertical-align:top!important;color:#6f7b89 }

.table-responsive table td{color:#6f7b89 }

.dept-mode { background-color:#689acf; color:#fff!important;font-weight:700}
.modal-body {/* 80% of window height */height: 350px!important;overflow:auto }  
.modal-close {color:#ffffff;opacity:1}
/* ======== Tables header classes ends here ====== */

/* ======== Tabs classes starts here ====== */
a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
.tab .nav-tabs{
    border: none;
    margin: 0;
}
.tab .nav-tabs li a{
    padding: 10px;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
    color: #293241;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    background: transparent;
    z-index: 2;
    position: relative;
    transition: all 0.3s ease 0s;
}
.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a{ border: none; }
.tab .nav-tabs li a:before{
    content: "";
    width: 100%;
    height: 4px;
    background: #f6f6f6;
    border: 1px solid #e9e9e9;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}
/*.tab .nav-tabs li a:after{
    content: "";
    width: 0;
    height: 4px;
    background: #511c74;
    border: 1px solid #511c74;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    transition: all 1s ease 0s;
}
.tab .nav-tabs li:hover a:after,
.tab .nav-tabs li.active a:after{
    width: 100%;
    opacity: 1;
}*/
.tab .tab-content{
/*    padding: 15px 20px;*/
    margin-top: 10px;
    font-size: 14px;
    /*color: #fff;
    letter-spacing: 1px;
    line-height: 30px;
    background: #727cb6;*/
    position: relative;
}
.glyphicon{color:#fff}
/* ======== Tabs classes ends above this ====== */


/*  ======  Tree structure class =====  */
.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {
    margin-left:1em;
    position:relative;
	font-weight:700;
}
.tree ul ul {
    margin-left:1em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left: 0;
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#1a6eb4;
    font-weight:normal;
    position:relative;
	list-style:none;
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:#1a6eb4;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#1a6eb4;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}
.tree .fa { color:#787878!important;font-size:14px}

/*  ==================================  */


/*Extra small devices (portrait phones, less than 576px)*/
/*No media query for `xs` since this is the default in Bootstrap*/

/* iPhone X in portrait & landscape*/
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) {
/*.dropdown-menu {
    left: -294px!important;
    min-width: 383px!important; 
}*/
}
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
/*.dropdown-menu {
    left: -161px;
    min-width: 250px; 
}*/
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
/*.dropdown-menu {
    left: -240px;
    min-width: 330px;
}*/
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
/*.dropdown-menu {
    left: -200px;
    min-width: 290px;
}*/
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
header.panel-heading {
    line-height: normal!important;
    font-size: 14px;
	height:35px;
}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
/*.dropdown-menu {
    left: -173px!important;
    min-width: 250px!important; }*/
	
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
#hide-highres, .hide-highres {display:none}
 }
 
 @media (max-width: 767px){
	 .header_bg { background:url(../images/logo.png) no-repeat; background-position:left;background-size: contain;width:100%;min-height:30px }
	 .header_bg div { margin-top: 5px;}
	 .btn-default { padding: 6px 16px!important; } /* Buttons between listing group*/
	 .login-txt span.log-text,.contact-dtls span.contact-text{display:none}
	 .login-txt span.glyphicon{display:block;color:#3372c0!important;padding:0 10px}
	 .contact-dtls span.glyphicon{display:block!important;}
	 .contact-dtls li:nth-child(even) {display:none}
	 .contact-dtls { margin: 10px 5px; }
	 .contact-dtls li {margin: 0 8px; }
	 .form-group label{padding:0}
	 .form-group select{width:100% !important}
	 ul.dashboard-tiles { margin:0!important;padding:0!important; }
	 .dashboard-tiles li { border: 2px solid #1a6eb4;padding: 30px; border-radius:3px;float: left;width: 100%; margin:10px 70px 10px 0; list-style:none }
/*	 .panel-heading:first-child{min-height:108px}*/
	 #trans-chevron, br,#hide-lowres,.hide-lowres,.sidenav .closebtn {display:none}
	 .lowres-mart10 {margin-top:10px}
	 .sidenav { width: auto!important; position: inherit; }
	 .flyout-other { font-size:14px;font-weight:normal; margin-top:10px;-webkit-writing-mode: inherit;-ms-writing-mode: inherit;writing-mode: inherit;text-orientation: mixed;-webkit-font-feature-settings: "vkrn", "vpal";font-feature-settings: "vkrn", "vpal";transform: rotate(180deg);text-transform: none;padding-left:10px;}
	 .user-panel{background-color:#ba1222; padding: 0;top:0px;right:0;position:inherit;border:1px solid #ba1222;z-index: 90;border-radius: 4px 4px 0 0; transition: 0.5s;
    white-space: normal;}
	.list-icon li { padding: 5px 10px;border-left: none;cursor: pointer; }
	ul.list-inline { margin-right: 5px;}
	ul.list-inline { margin-bottom:10px!important;}	
	.open > .dropdown-menu {display: block;left: -317px; width: 345px;}
	.dropdown-menu > li > div.topnav a.link-primary, .dropdown-menu > li > div.topnav a.link-secondary {padding: 5px 30px!important;font-weight: 700!important;font-size: 14px;}	 
	.dropdown-menu > li > div.topnav a.link-primary:hover, .dropdown-menu > li > div.topnav a.link-secondary:hover { background:#f5f5f5}
	#overlay { position: fixed; /* Sit on top of the page content */ display: none; /* Hidden by default */width: 100%; /* Full width (cover the whole page) */height: 100%; /* Full height (cover the whole page) */top: 0; left: 0;right: 0;bottom: 0;background-color: rgba(0,0,0,0.75); /* Black background with opacity */z-index: 999; /* Specify a stack order in case you're using a different order for other elements */cursor: pointer; /* Add a pointer on hover */ }
	#overlay-text {position: absolute;top: 50%;left: 30%;margin: -15% 0 0 -25%;text-align:justify;}
	#overlay-text span.col-xs-1 i {font-size:24px}
    .tab .nav-tabs li{
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }
    .tab .tab-content{ margin-top: 0; }
.tab .nav-tabs li a{
    margin-right: 5px;
}
}
